body{
    text-transform: lowercase;
    background-color:#F6F5F4;
    color:#06080E;
}
a{
    transition:0.2s;
}
a:hover{
    text-decoration:underline;
    color:#DB2B39;
}
#overlayWrapper{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(000, 000, 000, 0.5);
}
    #overlayInner{
        display:block;
        max-width:330px;
        border:1px solid #000;
        margin:100px auto;
        background:#fff;
        text-align:right;
    }
        #cancel{
            display:inline-block;
            margin:4px 8px;
        }
/* projects area */
#projectTitleWrapper{

}
    #projectsTitleWrapper div{
        display:inline-block;
        margin-right:10px;
    }
#projects{
    padding:0 16px;
}
    #projects #projectsArea{
        display:flex;
        flex-wrap:wrap;
    }

            #projects #projectArea .projectTab span{
                margin:0 3px;
            }