body{
    text-transform: lowercase;
}
a:hover{
    text-decoration:underline;
}
#overlayWrapper{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(000, 000, 000, 0.5);
}
    #overlayInner{
        display:block;
        max-width:330px;
        border:1px solid #000;
        margin:100px auto;
        background:#fff;
        text-align:right;
    }
        #cancel{
            display:inline-block;
            margin:4px 8px;
        }

